@import '../../scss/variables.scss';

.quick_copy__form {
	position: relative;

	max-width: 50rem;
	width: 100%;
	height: 6rem;

	.input {
		width: 100%;
		height: 100%;

		padding: 0 12rem 0 1.6rem;

		font-family: 'IBMPlexSans-Medium';
		font-size: 1.6rem;
		line-height: 2rem;
		color: $primary_white;
		text-transform: uppercase;

		background-color: $dark_blue;
		border-radius: 0.4rem;
		border: 0.1rem solid transparent;
		outline: none;
		transition: $hover_transition;

		&:hover {
			border: 0.1rem solid $blue1;
		}

		&:focus {
			border: 0.1rem solid $blue;
		}

		&::placeholder {
			color: $primary_white;
			opacity: 0.4;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			box-shadow: inset 5rem 5rem 0px 5rem $dark_blue;
			-webkit-text-fill-color: $primary_white;
		}
	}

	.input_border_error {
		border: 0.1rem solid $error;

		transition: $hover_transition;
	}

	.form__input_text_error {
		position: absolute;
		left: 0;
		top: -1.6rem;

		font-size: 1.4rem;
		color: $error;
	}

	.btn {
		position: absolute;
		right: 0.4rem;
		top: 0.4rem;
		width: 10.9rem;
		height: 5.2rem;

		border-radius: 0.4rem;

		.button_title {
			z-index: 2;
		}
	}
}

.about_company__form {
	position: relative;

	max-width: 50rem;
	width: 100%;
	height: 6rem;

	.input {
		width: 100%;
		height: 100%;

		padding: 0 18.5rem 0 1.6rem;

		font-family: 'IBMPlexSans-Medium';
		font-size: 1.6rem;
		line-height: 2rem;
		color: $primary_white;
		text-transform: uppercase;

		background-color: $blue3;
		border-radius: 0.4rem;
		border: 0.1rem solid transparent;
		outline: none;
		transition: $hover_transition;

		&:hover {
			border: 0.1rem solid $dark_blue;
		}

		&:focus {
			border: 0.1rem solid $blue;
		}

		&::placeholder {
			color: $primary_white;
			opacity: 0.4;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			box-shadow: inset 5rem 5rem 0px 5rem $blue3;
			-webkit-text-fill-color: $primary_white;
		}
	}

	.input_border_error {
		border: 0.1rem solid $error;

		transition: $hover_transition;
	}

	.form__input_text_error {
		position: absolute;
		left: 0;
		top: -1.6rem;

		font-size: 1.4rem;
		color: $error;
	}

	.btn {
		position: absolute;
		right: 0.4rem;
		top: 0.4rem;
		width: 16.5rem;
		height: 5.2rem;

		border-radius: 0.4rem;

		.button_title {
			z-index: 2;
		}
	}
}

.start_now__form {
	position: relative;

	max-width: 52.2rem;
	width: 100%;
	height: 6rem;

	.input {
		width: 100%;
		height: 100%;

		padding: 0 25rem 0 1.6rem;

		font-family: 'IBMPlexSans-Medium';
		font-size: 1.6rem;
		line-height: 2rem;
		color: $primary_white;
		text-transform: uppercase;

		background-color: $blue3;
		border-radius: 0.4rem;
		border: 0.1rem solid transparent;
		outline: none;
		transition: $hover_transition;

		&:hover {
			border: 0.1rem solid $dark_blue;
		}

		&:focus {
			border: 0.1rem solid $blue;
		}

		&::placeholder {
			color: $primary_white;
			opacity: 0.4;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			box-shadow: inset 5rem 5rem 0px 5rem $blue3;
			-webkit-text-fill-color: $primary_white;
		}
	}

	.input_border_error {
		border: 0.1rem solid $error;

		transition: $hover_transition;
	}

	.form__input_text_error {
		position: absolute;
		left: 0;
		top: -1.6rem;

		font-size: 1.4rem;
		color: $error;
	}

	.btn {
		position: absolute;
		right: 0.4rem;
		top: 0.4rem;
		width: 23rem;
		height: 5.2rem;

		border-radius: 0.4rem;

		.button_title {
			z-index: 2;
		}
	}
}

.form__preloader_wrapper {
	position: absolute;
	left: 50%;
	top: -1.6rem;

	display: flex;

	height: 1.3rem;
	width: 7rem;

	transform: translate(-50%, 0);

	.form__preloader {
		display: inline-block;
		position: relative;
	}
	.form__preloader div {
		position: absolute;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: $blue;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.form__preloader div:nth-child(1) {
		left: 8px;
		animation: lds-ellipsis1 0.6s infinite;
	}
	.form__preloader div:nth-child(2) {
		left: 8px;
		animation: lds-ellipsis2 0.6s infinite;
	}
	.form__preloader div:nth-child(3) {
		left: 32px;
		animation: lds-ellipsis2 0.6s infinite;
	}
	.form__preloader div:nth-child(4) {
		left: 56px;
		animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes lds-ellipsis3 {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
	@keyframes lds-ellipsis2 {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(24px, 0);
		}
	}
}

@media screen and (max-width: $point1024) {
	.start_now__form {
		display: flex;
		flex-direction: column;
		gap: clamp(0.8rem, 2vw, 2rem);

		height: min-content;

		.input {
			min-height: 5.2rem;

			padding: 0 1.6rem;
		}

		.btn {
			position: relative;
			right: 0;
			top: 0;

			align-self: center;
		}
	}
}

@media screen and (max-width: $point425) {
	.about_company__form {
		height: min-content;

		.input {
			height: 5rem;
			margin-bottom: 0.8rem;

			padding: 0 1.6rem;
		}

		.btn {
			position: static;

			height: 5rem;
			width: 100%;

			border-radius: 0.4rem;

			.button_title {
				z-index: 2;
			}
		}
	}

	.start_now__form {
		.btn {
			width: 100%;
		}
	}
}
