@import '../../scss/variables.scss';

.section__tariffs {
	background-color: $primary_black;

	.tariffs__container {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 2rem;

		padding-top: clamp(5.6rem, 10vw, 9.6rem);
		padding-bottom: clamp(4.4rem, 10vw, 9.6rem);

		.tariffs__left_content {
			.tariffs__left_title {
				margin-bottom: clamp(2.4rem, 6vw, 4rem);
			}
			.tariffs__radio_btn_wrapper {
				display: flex;
				justify-content: space-between;

				width: 100%;
				height: 5.2rem;

				margin-bottom: clamp(2.4rem, 6vw, 4.4rem);
				padding: 0.4rem;

				background-color: rgba(106, 84, 255, 0.4);
				border-radius: 0.4rem;

				.tariffs__radio_btn {
					position: absolute;

					z-index: -1;
					opacity: 0;
				}
				.tariffs__radio_btn_label {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 50%;
					height: 100%;

					text-transform: uppercase;
					font-family: 'IBMPlexSans-Medium';
					font-size: clamp(1.8rem, 5vw, 2.4rem);
					line-height: clamp(2.4rem, 5vw, 2.8rem);
					color: $blue;

					cursor: pointer;
					transition: $hover_transition;

					&.label__active {
						cursor: not-allowed;
						pointer-events: none;
					}

					@media (hover: hover) {
						&:hover {
							background-color: rgba(108, 143, 189, 0.293);
							border-radius: 0.3rem;

							transition: $hover_transition;
						}
					}
				}

				.label__active {
					font-family: 'IBMPlexSans-Bold';
					color: $secondary_black;

					background-color: $blue;
					border-radius: 0.4rem;
					transition: $hover_transition;
				}
			}
			.tariffs__left_card {
				background-color: $primary_black;
				border: 0.1rem solid $purpure;
			}
		}

		.tariffs__right_card {
			background-color: $blue2;
		}
	}
}

.card_common {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	max-width: 41.3rem;
	width: 100%;
	height: 55.6rem;

	padding: clamp(1.6rem, 5vw, 2.4rem);

	border-radius: 0.4rem;

	.card__title {
		display: block;
		margin-bottom: clamp(2.4rem, 6vw, 5.6rem);

		font-family: 'IBMPlexSans-Medium';
		font-size: clamp(2rem, 5vw, 3.2rem);
		line-height: clamp(2.8rem, 5vw, 4.8rem);
		text-transform: uppercase;
	}

	.card__list {
		.card__list_item {
			position: relative;

			display: flex;
			gap: 0.8rem;
			margin: 0 -2rem;
			padding: 0.8rem 2rem;

			font-family: 'IBMPlexSans-Regular';
			font-size: 1.6rem;
			line-height: 2rem;

			border-bottom: 1px dashed rgba(254, 243, 243, 0.2);

			.card__list_check_icon {
				width: 1.6rem;
				aspect-ratio: 1;
				padding-top: 0.4rem;
			}
		}
	}

	.card__bottom_content {
		.card__price_wrapper {
			display: flex;
			justify-content: space-between;

			margin-bottom: 2.4rem;

			.card__price {
				position: relative;

				font-family: 'IBMPlexSans-Medium';
				font-size: 3.5rem;
				line-height: 4rem;

				&::after {
					content: '-35%';

					position: absolute;
					top: -0.3rem;
					right: -5rem;

					font-family: 'IBMPlexSans-Medium';
					font-size: 1.8rem;
					line-height: 2rem;
					color: $green;
				}
			}
			.card__dropdown_wrapper {
				position: relative;

				width: 12.8rem;
				height: 3.6rem;

				.card__dropdown {
					max-width: 12.8rem;
					width: 100%;
					height: 100%;
					padding: 0.6rem 0.8rem;

					font-family: 'IBMPlexSans-Regular';
					font-size: 1.6rem;
					line-height: 2rem;
					color: $primary_white;

					background-color: #ffffff3b;
					border: none;
					border-radius: 0.4rem;
					outline: none;

					cursor: pointer;
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					transition: $hover_transition;

					@media (hover: hover) {
						&:hover {
							background-color: #ffffff77;
						}
					}

					.card__dropdown_item {
						color: black;
					}
				}
				.card__dropdown_arrow {
					position: absolute;
					right: 0.6rem;
					top: 0.5rem;

					width: 2.4rem;
					aspect-ratio: 1;

					stroke: $primary_white;
					pointer-events: none;
					transition: $hover_transition;
				}
			}
		}

		.card__btn {
			width: 100%;
			height: 5.2rem;

			&:hover {
				.card__btn_subtitle {
					color: $primary_white;
				}
			}

			.card__btn_title {
				z-index: 2;
			}

			.card__btn_subtitle {
				font-family: 'IBMPlexSans-Regular';
				color: $primary_black;
				font-size: 1.2rem;
				line-height: 1.6rem;

				opacity: 0.56;
				z-index: 2;
				transition: $hover_transition_0_4;
			}
		}
	}
}

@media screen and (max-width: $point1024) {
	.section__tariffs {
		.tariffs__container {
			flex-direction: column;
			align-items: center;
		}
	}

	.card_common {
		min-height: 55.6rem;
	}
}

@media screen and (max-width: $point375) {
	.card_common {
		min-height: max-content;
		.card__price_wrapper {
			flex-direction: column;
			gap: 2rem;

			.card__price {
				width: min-content;
			}
		}
	}

	.section__tariffs {
		.tariffs__container {
			.tariffs__right_card {
				height: min-content;
			}
		}
	}
}
