@import '../../scss/variables.scss';

.section__start_now {
	background-color: $blue2;

	.start_now__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5rem;

		padding-top: clamp(1.6rem, 5vw, 4rem);
		padding-bottom: clamp(1.6rem, 5vw, 4rem);

		.start_now__title {
			max-width: 52.3rem;
			width: 100%;
		}

		.start_now__form_wrapper {
			max-width: 52.2rem;
			width: 100%;
		}
	}
}

@media screen and (max-width: $point1024) {
	.section__start_now {
		.start_now__container {
			flex-direction: column;
			gap: clamp(2rem, 4vw, 5rem);
		}
	}
}
