@import '../../../scss/variables.scss';

.section__past_deals {
	position: relative;
	width: 100%;


	padding-top: clamp(4rem, 8vw, 9.6rem);
	padding-bottom: clamp(6rem, 8vw, 11.8rem);

	background-color: $primary_black;
	max-width: 100vw;
	overflow: hidden;

	&::before {
		content: '';

		position: absolute;
		left: -3rem;
		bottom: 0;

		width: 43.36%;
		height: clamp(2.4rem, 5vw, 6rem);

		background-color: $primary_white;

		transform: skew(45deg);
	}

	.past_deals__container {
		.past_deals__subtitle {
			position: relative;

			display: block;

			padding-left: 1.4rem;
			margin-bottom: 7.2rem;

			color: $green;
			font-family: 'IBMPlexSans-Regular';
			font-size: 1.4rem;
			line-height: 2rem;

			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;

				width: 0.7rem;
				aspect-ratio: 1;

				border-radius: 50%;
				background-color: $green;
				transform: translate(0, -50%);
			}
		}

		.past_deals__slider_wrapper {
			height: $slider_height;
			width: calc(100% + $container_padding);

			overflow: hidden;

		}
	}
}
.d {
position: absolute;
top: 100%;
left: 50%;
transform: translate(calc(-50% - clamp(1.6rem, 6vw, 8rem)), -100%);
}

@media screen and (max-width: $point768) {
	.section__past_deals {
		min-width: 100%;
		&::before {
			width: 60%;

			border-top-right-radius: 0.4rem;
			transform: skew(30deg);
		}
	}
}



