@import '../../scss/variables.scss';

.navbar_header {
	.navbar_list {
		display: flex;
		gap: 3.2rem;
		.navbar_list_item {
			.navbar_link {
				font-size: 1.4rem;
				line-height: 1.7rem;
			}
		}
	}

	@media screen and (max-width: $point1280) {
		& {
			display: none;
		}
	}
}
.navbar_footer {
	.navbar_list {
		display: flex;
		gap: 2.4rem;
		.navbar_list_item {
			width: max-content;
			.navbar_link {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}
	}

	@media screen and (max-width: $point1280) {
		& {
			.navbar_list {
				flex-direction: column;
				gap: 1.6rem;
			}
		}
	}
}
.navbar_dropdown {
	.navbar_list {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		.navbar_list_item {
			.navbar_link {
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}
	}

	@media screen and (max-width: $point320) {
		& {
			.navbar_list {
				gap: 2rem;
				.navbar_list_item {
					.navbar_link {
						font-size: 1.6rem;
						line-height: 2rem;
					}
				}
			}
		}
	}
}

.navbar_link_common {
	position: relative;

	text-decoration: none;
	text-transform: uppercase;
	color: $primary_white;
	font-family: 'IBMPlexSans-Medium';

	&::before {
		content: '';

		position: absolute;
		left: 50%;
		bottom: -0.2rem;

		width: 0;
		height: 0.2rem;
		background-color: $primary_white;

		transition: $hover_transition;
		transform: translate(-50%, 0);
	}

	&:hover {
		&::before {
			width: 100%;
			transition: $hover_transition;
		}
	}
}
