@import './scss/reset.scss';
@import './scss/variables.scss';

@font-face {
	font-family: 'IBMPlexSans-Regular';
	src: url('./assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBMPlexSans-Medium';
	src: url('./assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBMPlexSans-Bold';
	src: url('./assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	height: 100vh;
	font-size: 10px;

	overflow-x: hidden;
}

body {
	display: flex;
	min-height: 100%;

	font-family: 'IBMPlexSans-Regular';
	font-size: 1.6rem;
	color: $primary_white;
}

#root {
	flex-grow: 1;
}

.app {
	position: relative;

	display: flex;
	flex-direction: column;

	height: 100%;

	margin: 0 auto;

	padding-top: $header_height;
	overflow: hidden;
}

.container {
	max-width: 144rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 8rem;
	padding: 0 $container_padding;
}

.main {
	flex-grow: 1;
}

h2 {
	font-family: 'IBMPlexSans-Bold';
	font-size: clamp(2.4rem, 3vw, 4.4rem);
	line-height: clamp(3rem, 3.5vw, 5.6rem);
	text-transform: uppercase;
}

h3 {
	font-family: 'IBMPlexSans-Medium';
	font-size: clamp(2rem, 3vw, 2.8rem);
	line-height: clamp(2.8rem, 3.5vw, 3.6rem);
}

.custom_slider_scrollbar {
	position: absolute;
	bottom: 0;
	left: 50%;

	width: 66%;
	height: .6rem;

	border-radius: .4rem;
	background-color: #434F70 !important;
	z-index: 5;
	left: 50%;
	transform: translate(-57%, 0);
	
	@media screen and (max-width: $point768) {
		& {
			width: 90%;
			transform: translate(-53%, 0);
		}
	}
}

.button_common {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'IBMPlexSans-Medium';
	font-size: 1.6rem;
	line-height: 2rem;
	text-transform: uppercase;
	color: $primary_black;

	background-color: $blue;
	border-radius: 0.3rem;
	transition: $hover_transition_0_4;
	border: none;

	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 0;
		aspect-ratio: 1;

		background-color: $primary_black;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition: $hover_transition_0_4;
		z-index: 1;
	}

	@media (hover: hover) {
		&:hover {
			color: $primary_white;
			box-shadow: 0 0 1rem 0.1rem $blue;

			transition: $hover_transition_0_4;
			cursor: pointer;

			&::before {
				width: 200%;
			}
		}
	}
	@media (hover: none) {
		&:active {
			transform: scale(0.9);

			transition: $hover_transition_0_4;
		}
	}
	&:active {
		transform: scale(0.9);
		transition: $hover_transition_0_4;
	}
}

@media screen and (max-width: $point1280) {
	.app {
		padding-top: $header_height_mob;
	}
}


