//------------------------------colors------------------------------
$primary_black: #030718;
$primary_white: #FFFFFF;
$secondary_white: #E7F7F8;
$secondary_black: #000000;
$blue: #57E1FF;
$blue1: #5E47FF;
$blue2: #6A54FF;
$blue3: #4A3BB3;
$dark_blue: #201A4F;
$purpure: #6A54FF;
$green: #35FF9E;
$grey: #A5AEBC;
$error: rgb(255, 53, 53);
//------------------------------colors------------------------------//


//------------------------------transition--------------------------
$hover_transition: all .2s ease-in-out;
$hover_transition_0_4: all .4s ease-in-out;
//------------------------------transition--------------------------//

//-----------------------elements-height----------------------------
$container_padding: clamp(1.6rem, 6vw, 8rem);

//-----------------------elements-height----------------------------//


//-----------------------elements-height----------------------------
$header_height: 6.8rem;
$header_height_mob: 5.2rem;
$slider_height: 23.8rem;
//-----------------------elements-height----------------------------//

//------------------------------break-points------------------------
$point1280: 1280px;
$point1024: 1024px;
$point768: 768px;
$point640: 640px;
$point425: 425px;
$point375: 375px;
$point320: 320px;
//------------------------------break-points------------------------//