@import '../../../scss/variables.scss';

.section__faq {
	background-color: $primary_white;

	.faq__container {
		display: flex;

		padding-top: clamp(5.6rem, 12vw, 9.6rem);
		padding-bottom: clamp(5.6rem, 12vw, 9.6rem);

		.faq__content_wrapper {
			display: flex;
			flex-direction: column;

			max-width: 84.6rem;
			width: 100%;
			margin: 0 auto;

			.faq__title {
				margin-bottom: clamp(4rem, 7vw, 6.4rem);

				color: $secondary_black;
			}

			.faq__accordion {
				display: flex;
				flex-direction: column;
				gap: 1.2rem;

				.faq__accordion_item {
					height: 6.4rem;
					padding: 1.6rem;

					border-radius: 0.4rem;
					background-color: #eaeff0;
					overflow: hidden;
					transition: $hover_transition;

					.faq__accordion_title_wrapper {
						display: flex;
						align-items: center;
						justify-content: space-between;

						margin-bottom: 2.2rem;

						.accordion_item__title {
							font-family: 'IBMPlexSans-Medium';
							font-size: clamp(2rem, 4vw, 2.4rem);
							line-height: clamp(2.8rem, 5vw, 3.2rem);
							color: $secondary_black;
						}

						.accordion_item__arrow_icon {
							width: 2.4rem;
							aspect-ratio: 1;

							stroke: $secondary_black;
							opacity: 0.5;
							transition: $hover_transition;
						}
					}

					.accordion_item__content {
						font-family: 'IBMPlexSans-Regular';
						font-size: 1.6rem;
						line-height: 2rem;
					}
				}

				.accordion_item__active {
					height: 19.6rem;

					background-color: $purpure;
					transition: $hover_transition;
					.faq__accordion_title_wrapper {
						.accordion_item__title {
							color: $primary_white;
						}
						.accordion_item__arrow_icon {
							transform: rotate(180deg);
							transition: $hover_transition;
							stroke: $primary_white;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point768) {
	.section__faq {
		.faq__container {
			.faq__content_wrapper {
				.faq__accordion {
					.faq__accordion_item {
						height: 8.8rem;

						&:first-child {
							padding-top: 3rem;
						}

						.faq__accordion_title_wrapper {
							.accordion_item__title {
								max-width: 70%;
							}
						}
					}

					.accordion_item__active {
						height: 26rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point640) {
	.section__faq {
		.faq__container {
			.faq__content_wrapper {
				.faq__accordion {
					.faq__accordion_item {
						height: 8.8rem;

						.faq__accordion_title_wrapper {
							.accordion_item__title {
								max-width: 90%;
							}
						}
					}

					.accordion_item__active {
						height: 30rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point425) {
	.section__faq {
		.faq__container {
			.faq__content_wrapper {
				.faq__accordion {
					.faq__accordion_item {
						height: 8.8rem;

						.faq__accordion_title_wrapper {
							.accordion_item__title {
								font-size: 1.8rem;
							}
						}
					}

					.accordion_item__active {
						height: 35rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point375) {
	.section__faq {
		.faq__container {
			.faq__content_wrapper {
				.faq__accordion {
					.faq__accordion_item {
						height: 8.8rem;

						.faq__accordion_title_wrapper {
							.accordion_item__title {
								max-width: 90%;
								font-size: 1.6rem;
							}
						}
						.accordion_item__content {
							font-family: 'IBMPlexSans-Regular';
							font-size: 1.4rem;
							line-height: 1.8rem;
						}
					}

					.accordion_item__active {
						height: 35rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $point320) {
	.section__faq {
		.faq__container {
			.faq__content_wrapper {
				.faq__accordion {
					.faq__accordion_item {
						height: 8.8rem;

						.faq__accordion_title_wrapper {
							.accordion_item__title {
								max-width: 90%;
								font-size: 1.2rem;
							}
						}
						.accordion_item__content {
							font-family: 'IBMPlexSans-Regular';
							font-size: 1.2rem;
							line-height: 1.6rem;
						}
					}

					.accordion_item__active {
						height: 35rem;
					}
				}
			}
		}
	}
}
